/*
https://tiddlywiki.narkive.com/iat9S7MM/tw-tw5-how-style-size-and-color-for-transcluded-image
*/

body.tc-body .mybutton svg {
  fill: gray;
  width: 1em;
  height: 1em;
}



/*
- Fix for floating-images https://talk.tiddlywiki.org/t/overflow-in-tiddler-and-table/519/19  .
- How To Clear Floats (Clearfix) https://www.w3schools.com/howto/howto_css_clearfix.asp .
*/

.tc-tiddler-frame:after,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/*
Equations
*/

.katex {
  font-size: 1.125em;
}



/ *
Headers
*/

.tc-tiddler-body.tc-reveal h1,
.tc-tiddler-preview-preview h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 400;
  font-size: 2em;
}

.tc-tiddler-body.tc-reveal h2,
.tc-tiddler-preview-preview h2 {
  border-bottom: 1px solid #ececec;
  font-weight: 400;
  font-size: 1.6em;
}

.tc-tiddler-body.tc-reveal h3,
.tc-tiddler-preview-preview h3 {
  font-weight: 400;
  font-size: 1.4em;
}

.tc-tiddler-body.tc-reveal h4,
.tc-tiddler-preview-preview h4 {
  font-weight: 400;
  font-size: 1.2em;
}
.tc-tiddler-body.tc-reveal  h5,
.tc-tiddler-preview-preview h5 {
  font-weight: 400;
  font-size: 1em;
}

.tc-tiddler-body.tc-reveal  h6,
.tc-tiddler-preview-preview h6 {
  font-weight: 400;
  font-size: 1em;
  color: #57606A;
}



/*
Plugin tiddler formatting
*/

.tc-plugin-info-chunk.tc-plugin-info-description h1 {
    border-bottom: none;
    font-weight: normal;
	font-size: 1em;
	line-height: 1.2;
	margin: 2px 0 2px 0;
}

.tc-plugin-info-chunk.tc-plugin-info-description h2 {
    border-bottom: none;
    font-weight: normal;
	font-size: 0.8em;
	line-height: 1.2;
	margin: 2px 0 2px 0;
}

.tc-plugin-info-chunk.tc-plugin-info-description div {
    border-bottom: none;
    font-weight: normal;
	font-size: 0.7em;
	line-height: 1.2;
	margin: 2px 0 2px 0;
}



/*
Code, ul, table, etc.
*/

.tc-tiddler-body.tc-reveal code,
.tc-tiddler-preview-preview code {
  padding: 0 2px 0;
}

.tc-tiddler-body.tc-reveal  ul,
.tc-tiddler-preview-preview ul { 
  padding-left: 2em;
}

.tc-tiddler-body.tc-reveal  li,
.tc-tiddler-preview-preview li {
  padding-left: 8px;
}

.tc-tiddler-body.tc-reveal  dl dt,
.tc-tiddler-preview-preview dl dt {
  margin-top: 12px;
}

.tc-tiddler-body.tc-reveal  dd,
.tc-tiddler-preview-preview dd {
  margin-left: 1em;
}

.tc-tiddler-body.tc-reveal  table,
.tc-tiddler-preview-preview table {
  margin-top: 8px;
}



/*
External links. "::after" creates a pseudo-element used to add cosmetic content. https://developer.mozilla.org/en-US/docs/Web/CSS/::after . 
*/

a[href*="//"]:after
{
  font-weight: 300;  /* light */
  font-size: 0.85em;
  content: "\2197"; /* top right arrow: ↗ */
  color: #121212;
  opacity: 0.25;
}

a[href*="//"]:hover:after
{
  color: #0000EE;
  opacity: 1;
}